.container
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    .header
      .header-flex-left
        =link_to profile_path do
          %h2= 'Cancel'  
      .header-flex-center
        %h2= "Changes Icon"
      .header-flex-right.none
        = f.submit 'OK', class: 'header-submit'

    .profile
      .profile-avatar
        = f.label :avatar do
          = f.file_field :avatar, class: 'none'
          .profile-avatar-layer
            .profile-avatar-layer-icon
              = image_tag 'camera-icon.png'
          .profile-avatar-preview  
            - if current_user.profile.avatar.attached?
              = image_tag current_user.profile.avatar.variant(resize_to_fill: [200, 200])
            - else
              = image_tag 'default_avatar.png'

= javascript_pack_tag 'profile'