.container
  = form_with(model: @profile, url: profile_path, method: 'post', local: true) do |f|
    .header
      .header-flex-left
        =link_to :back do
          =image_tag 'page-back.png'
      .header-flex-center
        %h2= "Changes Icon"
      .header-flex-right
        = f.submit 'OK', class: 'header-submit'


    .profile
      .profile-avatar
        = f.label :avatar do
          = f.file_field :avatar, class: 'none'
          .profile-avatar-preview
            = image_tag 'default_avatar.png'