.devise_top
  =image_tag 'Rectangle.png', class: 'devise-image'
.container
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email, 'Email', class: 'form-label'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-text'
    .form-links
      = render "devise/shared/links"
    .actions
      = f.submit "PASSWORD RESET", class: 'form-submit'
