.devise_top
  =image_tag 'Rectangle.png', class: 'devise-image'
.container
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.label :email, 'Email', class: 'form-label'
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-text'
    .field
      = f.label :password, 'Password', class: 'form-label'
      %br/
      = f.password_field :password, autocomplete: "current-password", class: 'form-text'
    .form-links
      = render "devise/shared/links"
    .actions
      = f.submit "LOGIN", class: 'form-submit'